.skills
{
   margin-top: 20px;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
}
.skillinside
{
  display: flex;
  column-gap: 15px;
}
.skills p{
  font-size: 40px;
  font-weight:900;
  font-family: ext;
}
 .skill img{
   width:65px;
   
   margin-left: 5px;
 }
 .skill:hover img {
  filter: none; /* Removes filter on hover, showing original logo */
  transform: scale(1.1); /* Slightly enlarges on hover */
}

 @media screen and (max-width: 600px) 
 {

  .skillinside
  {
    column-gap: 0;
  }
  .skills p{
    font-size: 20px;   
    font-weight:700; 
  }
   .skill img{
     width:50px;
   }







 }
