.skills
{
   margin-top: 20px;
   display:flex;
   align-items: center;
   justify-content: center;
   
}
.skills p{
  font-size: 40px;
  font-weight:900;
  font-family: ext;
}
 .skill img{
   width:70px;
   margin-left: 5px;
 }

 @media screen and (max-width: 600px) 
 {

  .skills p{
    font-size: 20px;   
    font-weight:700; 
  }
   .skill img{
     width:40px;
   }







 }
